html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #1f1e26;
  box-sizing: border-box;
  color: var(--col-text);
  font-family: 'Bitter', serif;
  font-size: 11pt;
  height: 100%;
  width: 100%;

  --col-primary: #006891;
  --col-text: #000;
  --col-text-contrast: #fff;
  --dim-page-padding: 0.5in;
  --dim-border-radius: 0.2rem;
}

a,
a:active,
a:hover,
a:visited {
  color: var(--col-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Poppins', sans-serif;
  margin: 0.2em 0 0.5em;
}

h1 {
  align-self: center;
  flex: 1;
  font-size: 24pt;
  line-height: 24pt;
  margin: 0;
  text-shadow: 0 0 0.2em var(--col-primary);
}

h2 {
  align-items: center;
  background-color: var(--col-primary);
  border-bottom-right-radius: var(--dim-border-radius);
  border-top-right-radius: var(--dim-border-radius);
  color: var(--col-text-contrast);
  display: inline-flex;
  flex-direction: row;
  font-size: 18pt;
  gap: 4pt;
  line-height: 18pt;
  margin: 1rem 0 0 0;
  margin-top: 1rem;
  margin-left: calc(var(--dim-page-padding) * -1);
  padding: 0.4em 0.6em 0.4em var(--dim-page-padding);
}

h2 svg {
  height: 18pt;
  width: 18pt;
}

h3 {
  padding: 0.2em 0.6em 0.2em 0;
  font-size: 14pt;
  grid-column-end: span 2;
  line-height: 14pt;
  margin-top: 1em;
}

h3 svg {
  height: 14pt;
  width: 14pt;
  vertical-align: middle;
}

header {
  background-color: var(--col-primary);
  border-bottom-right-radius: var(--dim-border-radius);
  border-top-right-radius: var(--dim-border-radius);
  color: var(--col-text-contrast);
  display: inline-flex;
  flex-direction: row;
  margin-left: calc(var(--dim-page-padding) * -1);
  overflow: hidden;
  padding: 0.2in var(--dim-page-padding);
  position: relative;
}

header::after {
  background: url("hex.svg");
  content: " ";
  height: 1000%;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-12deg);
  width: 1000%;
}

header a,
header a:active,
header a:hover,
header a:visited {
  color: var(--col-text-contrast);
}

main>section>p {
  margin-top: 1em;
}

p {
  margin: 0;
}

sup {
  word-break: keep-all;
  white-space: nowrap;
}

.contact {
  font-size: 10pt;
  margin: 0;
  padding-left: 3em;
}

.contact li {
  list-style: none;
  padding: 0.4em 0;
}

.buzzwords {
  /* font-family: 'Titillium Web', sans-serif; */
  border-left: 0.03in solid var(--col-primary);
  float: right;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: bold;
  list-style: none;
  margin: 1rem;
  margin-right: 0;
  padding: 0;
}

.buzzwords li {
  padding-left: 1em;
}

.buzzwords-header {
  background-color: var(--col-primary);
  border-bottom-right-radius: var(--dim-border-radius);
  border-top-right-radius: var(--dim-border-radius);
  color: var(--col-text-contrast);
  margin-bottom: 0.4em;
  padding: 0.4em;
}

.grid {
  display: grid;
  column-count: 2;
}

.icon {
  height: 14pt;
  padding-right: 0.5em;
  vertical-align: middle;
}

.page {
  background-color: #fff;
  box-shadow: 0 0.1in 0.1in #000;
  box-sizing: border-box;
  height: 11in;
  margin: 0.2in auto;
  max-width: 8.5in;
  overflow: hidden;
  padding: var(--dim-page-padding);
  page-break-after: always;
  width: 100%;
}

@media screen and (max-width: 8.5in) {
  header {
    display: block;
  }

  .contact {
    margin: 1em 0;
    padding: 0;
  }

  .page {
    box-shadow: none;
    height: unset;
    margin: 0;
    max-height: unset;
    border-bottom: 2px solid #444;
  }
}

@media print {
  body {
    padding: 0 !important;
  }

  body,
  .page {
    font-family: sans-serif;
    height: 100% !important;
    margin: 0 !important;
    position: relative !important;
    width: 100% !important;
  }

  .page {
    box-shadow: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .buzzwords {
    font-family: 'sans-serif';
  }

  a,
  a:active,
  a:hover,
  a:visited {
    color: var(--col-text);
  }
}

@page {
  margin: 0 !important;
}